.App {
  text-align: center;
  background-image: radial-gradient(circle, #051937, #062055, #202472, #43218b, #6c0d9f);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center{
  display: flex;
  justify-content: center;
}

.particles{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
